/* login form */

.input.error {
  border-color: red !important;
}

.input-feedback {
  color: rgb(243, 13, 13) ;
  margin-top: -10px;
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 450;
}

.formBtn {
  letter-spacing: 2px;
  color: white;
  font: Poppins;
}

.row{
  margin-bottom: -5px;
  padding-top: 15px;
  width: 370px;
  font-size: 14px;
}

.form-check-label{
  padding-left: 2px;
}

.forgot-password{
  text-align: end;
}

/* forgot-password */
.container{
  margin: 80px;
}

.forgotPwd-form{
  padding-Top: 50px;
  padding-Left: 250px;
  display: block;
  width:800px;
  margin-left:150px ;
}

.forgotPwd-feedback{
  color: rgb(243, 13, 13) ;
  margin-top: -20px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 450;
  margin-left: 10px;
}
