.related-notices {
    overflow: hidden;
    text-align: center;
}

.related-notices::before,
.related-notices::after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.related-notices::before{
    right: 0.5rem;
    margin-left: -50%;
}

.related-notices::after{
    left: 0.5rem;
    margin-left: -50%;
}